<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead"><a href="/changelog.html#dacs-201902">Version 2019.02</a></p>
    </div>

    <nav class="sidebar-nav">
      <!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>-->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign url_parts = page.url | split: '/' %}
      {% assign url_parts_size = url_parts | size %}
      {% assign rm = url_parts | last %}
      {% assign base_url = page.url | replace: rm %}
      {% assign chapters = site.pages | sort:"url" %}
      
      <ul>
        {% for node in chapters %}
          {% assign node_url_parts = node.url | split: '/' %}
          {% assign node_url_parts_size = node_url_parts | size %}
          {% assign filename = node_url_parts | last %}

          {% if filename contains "00_" or filename contains "chapter" or node_url_parts_size == 2 %}
            {% if node.title and node.title != "404: Page not found" %}
              <li><a href='{{node.url}}'>{{node.title}}</a></li>

              {% if node_url_parts[2] == url_parts[2] %}
                {% if filename contains "chapter" or node_url_parts_size == 2 %}

                {% else %}
                  <ul>
                    {% for node in site.pages %}
                      {% if node.url contains base_url %}
                        {% assign node_url_parts = node.url | split: '/' %}
                        {% assign node_url_parts_size = node_url_parts | size %}
                        {% assign subfilename = node_url_parts | last %}
                        {% if subfilename != filename %}
                          <li><a href='{{node.url}}'>{{node.title}}</a></li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
      {% endfor %}
      </ul>



      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
    </nav>

    <!--<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>-->
  </div>
</div>
